/* Master Styles */
body{
    margin: 0px;
    font-family: "Helvetica", "Arial";
    background-color: white;
  }
  
  /* Welcome Page */
  .welcome_Slide_Up{
    height: 797px;
    width: auto;
    text-align: center;
    align-content: center;
    background-color: black;
    color: white;
    font-family: serif;
    padding-top: 600px;
  }
