.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 50px;
    margin-top: -20%;
    position: relative;
}

.name{
    font-size: 120px;
    margin-left: 10%;
    margin-top: -35%;
    position: relative;
}

.information{
    background-color:rgb(218, 154, 58);
    width: 800px;
    height: 1200px;
    font-size: 80px;
    margin-left: 2%;
    margin-top: 0%;
    border-color: black;
    position: relative;
    align-content: center;
}

.UtepLogo img{
    position: relative;
    width: 45pc;
    margin-left: 30%;
}

.Blackboard img{
    margin-top: 20%;
    margin-left: 30%;
}

.content{
    height: 500px;
    width: 1500px;
    position: relative;
    background-color: rgb(111, 195, 216);
    margin-top: 25%;
    margin-left:-95%;
}

.Webassign img{
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 20pc;
}

.Gradescope img{
    position: relative;
    margin-top: -20%;
    margin-left: 30%;
    width: 20pc;
}

.Classroom img{
    position: relative;
    margin-top: -50%;
    margin-left: 55%;
    width: 25pc;
}

.button{
    margin-left: 90%;
    margin-top: -110%;
    width: 140px;
    height: 80px;
    font-size: 50px;
}
